.asteroidContainer {
    display: flex;
    flex-direction: column;
}

.asteroidList {
    max-width: 400px;
}

.asteroidListItem {
    list-style-type: none;
}

.kmOrLunarOrbits {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.unitButton {
    color: white;
    background: black;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

.selectedUnitButton {
    color: white;
    background: black;
    border: none;
    font-weight: bold;
    text-decoration: none;
}

.dash {
    margin-inline: 5px;
    font-size: 8px;
}

.cart {
    position: fixed;
    background: aqua;
    bottom: 0;
    width: 100%;
    left: 0%;
    background: #232526;
    z-index: 1;
}

.cartItems {
    display: flex;
    justify-content: space-between;
    margin: 16px;
}

.cartWordCart {
    font-weight: bold;
    margin-bottom: 5px;
}

.cartButton {
    display: flex;
    align-items: center;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 40px;
    background: #F86600;
    padding: 8px 16px;
    text-decoration: none;
}

.cartButton:hover {
    background: #d04c01;
}

.loaderWithCart {
    margin-bottom: 100px;
    z-index: -1;
}

@media screen and (min-width: 850px) {
    .cartDiv {
        position: fixed;
    }

    .cart {
        position: absolute;
        min-width: 150px;
        min-height: 150px;
        bottom: -130px;
        left: 500px;
        background: #232526;
        border-radius: 24px;
        z-index: 0;
    }

    .cartItems {
        flex-direction: column;
        align-items: center;
        row-gap: 32px;
    }

    .cartButton {
        height: 48px;
    }
}

