.mainContainer {
    margin-top: 20px;
    margin-right: 3%;
    margin-left: 10vh;
}

.earthImageContainer {
    position: fixed;
    z-index: -1;
}

.backgroundEarth {
    position: absolute;
    top: -50px;
    left: -500px;
    width: 550px;
    height: auto;
    z-index: -1;
}

@media (min-width: 700px) {
    .backgroundEarth {
        left: -450px;
    }
    .mainContainer {
        margin-left: 125px;
    }
}

@media (min-width: 1024px) {
    .backgroundEarth {
        width: 700px;
        left: -500px;
        top: -30px;
    }
    .mainContainer {
        margin-left: 40vh;
    }
}
